@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  list-style: none;
}

:root {
  --letraTamaño: 20px;
  --backgroud:#079da5;
  --submain-color: #78858F;
  --bg-color: #fff;
}

.navigation-buttons {
  text-align: center;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}

.section {
  display: none;
  opacity: 0;
}

.section.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 100%;
  background-color: #fff;
}

body {
  background-color: #fff;
}


header {
  position: fixed;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Color blanco con algo de opacidad */
}



.mini {
  width: 100%;
  height: 33px;
  background-color: #139ef8;
  position: absolute;
  display: flex;
}

.solicitar-cita {
  margin-left: 20px;
  margin-top: 4px;
}

.mini h3,
a {
  color: #fff;
  font-size: 18px;
}
.mini i {
  text-align: center;
  font-size: 15px;
  background-color: #fff;
  width: 25px;
  height: 20px;
  color: #002f50;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
}

.menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  transition: 0.7s;
  z-index: 10;
}



header.abajo {
  background: #fff;
}
header.abajo .logo img {
  width: 150px;
}
.menu .logo img {
  height: 80px;
  max-width: 100%;
  object-fit: contain;
  float: left;
  transition: 0.7s;
}
.navegador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-top: 42px;
}

.menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  position: relative;
  /*TIPO DE FONT*/
  margin: 0px 15px;
  text-decoration: none;
  color: #002f50;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  transition: 0.7s;
}
.menu ul li a::after,
.menu ul li a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #002f50;
  transition: 0.5s;
}

.menu ul li a::after {
  left: 0;
  bottom: -10px;
}
.menu ul li a::before {
  right: 0;
  top: -10px;
}
.menu ul li a:hover::after,
.menu ul li a:hover::before {
  width: 100%;
}
header.abajo,
header.abajo ul li a,
header.abajo ::placeholder {
  color: #139ef8;
}

.logo img {
  margin-top: 40px;
  min-width: 300px;
  min-height: 25px;
}

.icons {
  display: flex;
  column-gap: 25px;
  margin-left: 100px;
}

.icons .fa {
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #002f50;
  border-radius: 50%;
  outline: 2px solid #002f50;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icons .fa:hover {
  outline-offset: 4px;
  color: #fff;
}
.icons a:hover {
  animation: shake 0.25s;
}

.icons .fa-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.icons .fa-facebook:hover {
  background-color: #139ef8;
  outline-color: #139ef8;
}

.icons .fa-whatsapp:hover {
  background-color: #2bd46a;
  outline-color: #2bd46a;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

.portada {
  width: 100%;
  height: 80vh; /* La altura será el 80% de la altura de la ventana del navegador */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
}

.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen y recorta si es necesario */
  object-position: center; /* Centra la imagen en el contenedor */
}

.contenedor {
  display: flex;
  animation: slide-up 1000ms forwards;
}
.horario {
  margin-left: 200px;
  margin-top: 30px;
  background-color: #079da5;
  color: #fff;
  width: 600px;
  height: 360px;
}
.caja-1 {
  margin-top: 20px;
  padding: 20px;
}

.caja-1 h1,
h4 {
  text-align: center;
}

.caja-2 {
  display: block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 20px;
}
.caja-2 h2,
h3 {
  margin-left: 50px;
}

.caja-3 {
  display: block;
  border-bottom: 1px solid #fff;
  padding: 20px;
}
.caja-3 h2,
h3 {
  margin-left: 50px;
}
.caja-4 {
  position: absolute;
  top: 100px;
  left: 110px;
}

.caja-4 img {
  width: 200px;
}

.section h2 {
  color: #079da5;
  font-size: 30px;
}

.titulo-especialidad {
  text-align: left;
  display: grid;
  max-width: 1200px;
  grid-template-columns: auto 1fr;
  margin: auto;
  gap: 20px;
  padding: 30px 30px 30px 0;
}

.buttons-especialidad {
  display: grid;
  place-content: center;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #fff;
  outline: 2px #ccc solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: #079da5;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg {
  width: 2em;
  height: 2em;
}

.button svg path {
  transition: 400ms;
  fill: #079da5;
}

.button:hover {
  background-color: #cccccc17;
}

.button .text {
  font-size: var(--letraTamaño);
}

.button:hover .text {
  color: #079da5;
  font-size: var(--letraTamaño);
}

.button:hover svg path {
  fill: #079da5;
}

.button-selected {
  outline: 2px #079da5 solid;
}

.numeros {
  display: flex;
  margin-top: 1%;
}

.numeros .pagina-numero {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: var(--letraTamaño);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Espacio entre los números */
  position: relative; /* Para agregar la línea */
}

.numeros .pagina-numero::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -9px; 
  transform: translateY(-50%);
  height: 2px;
  width: 10px;
  background-color: #ccc; 
  z-index: -1;
}

.numeros .pagina-numero:last-child {
  margin-right: 0;
}

.especialidad-seleccionada {
  display: none;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  border: 3px solid #ccc;
  padding: 30px;
  font-size: var(--letraTamaño);
  animation: slide-up 2000ms forwards, fade-in 1000ms forwards;
}

.especialidad-seleccionada span {
  width: 30px;
  height: 30px;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes fade-in-out {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}
#sections-container {
  width: 100%;
}

.container-citas {
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:5%;
}

#section1{
  display: grid;
}
.selects_citas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  max-width: 1200px;
  width: 100%;
  align-items: center; /* Centra verticalmente los elementos */
}

.selects {
  display: flex; /* Permite alinear el contenido dentro del div */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  flex-direction: column;
  height: 100%; /* Asegura que el div ocupe toda la altura disponible */
}

.form-label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold; 
  color: #079da5;
}

.selects select{
  width: 70%;
}


.selects img {
  max-width: 100%; /* Asegura que la imagen no sobresalga de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.medicos-disponibles {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.medicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
  height: 384px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  border: 1px solid #ccc;
  cursor: pointer;
  animation: slide-up 2000ms forwards, fade-in 1000ms forwards;
}

.card__btn.selected {
  background: var(--backgroud);
  color: #fff;
}

.card__img {
  height: 192px;
  width: 100%;
  
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
  
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar img {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--backgroud);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 90px;
  height: 31px;
  font-size: var(--letraTamaño);
  border: 2px solid var(--backgroud);
  border-radius: 4px;
  font-weight: 700;
  color: var(--backgroud);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}


.card__btn:hover {
  background: var(--backgroud);
  color: #fff;
}


/*SECTION DOS*/

.seleccionar-fecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seleccionador {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  color: #000;
}
.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #757474;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
  color: #fff;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #079da5;
}
.days li:not(.active):not(.selected):hover::before {
  background: #f2f2f2;
}
.days li.selected {
  color: white;
}

.days li.selected::before{
  background: #ffcc00;
}

.significado-seleccion
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.significado-seleccion .significado{
  margin: 5px;
}

.significado-seleccion span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.significado-seleccion .significado.uno{
  background: #079da5;
}

.significado-seleccion .significado.dos{
  background: #ffcc00;
}

.input-group {
  display: flex;
  align-items: center;
}



.tituloSlider {
  color: #079da5;
  margin-bottom: 20px;
  margin-left: -10px;
}

.slider {
  width: 600px;
  height: 600px;
  overflow: hidden;
  cursor: pointer;
}
.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.titulo {
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  padding-left: 40px;
  padding-right: 200px;
  padding-bottom: 10px;
}
.lista {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.div2 .titulocitas {
  text-align: center;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

select {
  color: #079da5;
  font-size: 23px;
  cursor: pointer;
}

.lista h4 {
  margin-left: 10px;
  margin-top: 5px;
}
.lista h4 i {
  color: #079da5;
}

.ubicacion {
  margin-right: 200px;
  margin-top: 50px;
}

.fecha {
  margin-left: 80px;
}

.fecha input {
  margin-left: 50px;
  margin-top: 30px;
  color: #079da5;
  font-size: 23px;
  cursor: text;
}
.mapa {
  margin-left: 40px;
  width: 400px;
  height: 260px;
  margin-top: 20px;
  position: absolute;
}
#comprobarFecha {
  margin-left: 20px;
  width: 100px;
  color: #fff;
  height: 50px;
  background-color: #079da5;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  letter-spacing: 0.1rem;
  padding: 10px;
}

.caja-5 {
  margin-top: 100px;
  margin-left: 200px;
}

#buscarCita {
  width: 200px;
  color: #fff;
  height: 50px;
  background-color: #079da5;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  letter-spacing: 0.1rem;
  padding: 10px;
  cursor: pointer;
}

#buscarCita:hover {
  background-color: #096064;
}

#div1 {
  animation: slide-up 1000ms forwards, fade-in 1000ms forwards;
}
.div2 {
  display: none;
  animation: slide-up 1000ms forwards, fade-in 1000ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-off {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.horas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  animation: slide-up 2000ms forwards, fade-in 1000ms forwards;
  position: relative;
}

.box-1 {
  width: 850px;
  position: absolute;
  height: 400px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.box-1 h2 {
  margin-left: 20px;
  margin-top: 3px;
}

.box-1 i {
  float: right;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
.box-2 {
  position: relative;
  width: 800px;
  height: 300px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.box-1 i:hover {
  color: red;
}
#especialidadId {
  margin-left: 20px;
  margin-top: 10px;
}
.ordenhora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hora {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  letter-spacing: 0.1rem;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.fecha-seleccionada {
  border-radius: 50%;
  background: #079da5;
}
.hora-seleccionada {
  box-shadow: 0 0.2rem 1rem #079da5;
}


.hora:hover {
  box-shadow: 0 0.2rem 1rem #079da5;
}

/*SECTION 3*/

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.flex-row > div {
  width: 50%;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.inputForm svg {
  fill: #079da5;
  height: 20px;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.button-submit {
  margin-top: 20px;
  background-color: var(--backgroud);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #104648;
}

/* 
.formulario {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
} */
/* 
.form-register {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
  border: 1px solid #cccc;
  background-color: #fff;
  animation: slide-up 2000ms forwards, fade-in 1000ms forwards;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #079da5;
}
.icono_cita i {
  color: #000;
  float: right;
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 20px;
}

.icono_cita i:hover {
  animation-delay: 2s;
  color: red;
}

.controls {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #079da5;
  font-family: "calibri";
  font-size: 18px;
  color: #079da5;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #079da5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.botons:hover {
  background-color: #0e8086;
} */

@media screen and (max-width: 640px) {
  .menu ul li {
    margin-right: 40px;
  }
  .nombre {
    font-size: 18px;
  }
  .menu i {
    font-size: 18px;
  }

  nav {
    width: 60px;
  }

  .logo {
    right: 8px;
  }
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }

  nav .fas {
    right: 13px;
  }

  .contenedor {
    display: inline;
  }

  .horario {
    margin-left: 80px;
    margin-top: 30px;
    width: 300px;
    height: 300px;
  }

  .caja-1 h1 {
    font-size: 20px;
  }
  .caja-1 h4 {
    font-size: 13px;
  }
  .caja-2 h3,
  .caja-3 h3 {
    font-size: 16px;
  }

  .caja-2 h2,
  .caja-3 h2 {
    font-size: 18px;
  }

  .caja-4 {
    left: 50px;
  }
  .caja-4 img {
    width: 130px;
  }
  .container2 {
    margin-left: 80px;
  }
  .slider {
    width: 300px;
    height: 300px;
  }

  .contenedor2 {
    margin-left: 80px;
    margin-top: 30px;
    display: inline;
  }

  .titulo {
    font-size: 14px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 10px;
  }
  .lista {
    margin-left: 80px;
    margin-top: 30px;
  }

  .titulocitas {
    font-size: 28px;
  }

  select {
    font-size: 20px;
  }

  .ubicacion {
    margin-left: 120px;
    white-space: nowrap;
    margin-top: 20px;
  }

  .fecha {
    margin-left: 80px;
  }

  .fecha input {
    margin-left: 60px;
    font-size: 20px;
  }
  .mapa {
    margin-left: 125px;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    position: relative;
  }
  #comprobarFecha {
    margin-left: 120px;
    margin-top: 20px;
  }

  .horas {
    margin-left: 70px;
    margin-top: 70px;
  }

  .box-1 {
    width: 350px;
    position: absolute;
    height: 400px;
  }
  .box-1 h2 {
    margin-left: 20px;
    margin-top: 3px;
    font-size: 18px;
  }
  .box-2 {
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  }
  #especialidadId {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .hora {
    margin: 6px;
    padding: 5px;
  }
}
